html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Pacifico', cursive; */
  font-weight: 500;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo h1 {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 3;
}

.main-css {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2rem;
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 2rem;
  z-index: 3;
}

.line {
  width: 2px;
  height: 8rem;
  background-color: #fff;
}

.connect h3 {
  position: absolute;
  top: 2rem;
  right: calc(1rem + 2vw);
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  vertical-align: text-bottom;
}

.ant-switch-checked {
  background-color: #fff !important;
}

.locale_button {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.portfolio {
  position: absolute;
  top: 50%;
  left: calc(1rem + 2vw);
  transform: translate(-50%, -50%) rotate(-90deg);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.about {
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.skills {
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.info {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.intro-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: 55vh;
  display: flex;
  border: 3px solid;
  padding: 2rem;
  border-radius: 10px;
}

.hi {
  font-size: 40px;
}

.text {
  position: relative;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.component-style {
  width: 70vw;
  height: 70vh;
  padding: 15px;

  border-color: #000;
  border-style: double;
}

.swiper-card {
    border-radius: 30px;
    border: 5px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #000;
  overflow: hidden;
  position: relative;
}

.prortfolio-items {
  padding: 10px;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.text-center {
  text-align: center;
}

.menu {
  position: absolute;
  top: 4rem;
  right: calc(1rem + 2vw);
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  vertical-align: text-bottom;
  display: none;
}

.modal {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 150ms;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center
}

.modal_container {
  max-width: 650px;
  padding: 25px;
  height: 100%;
  overflow: auto;
  background: #000;
  width: 100%;
}

.body_modal ul {
  list-style-type: none;
  padding: 0px !important;

}

.body_modal ul li h4 {
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
}

.title_modal {
  font-size: 18px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close_modal {
  font-size: 18px;
  cursor: pointer;
}
.button-cv{
  color: #000;
  font-weight: bolder;
  border: 2px solid;
  border-color: #000;
  padding: 5px;
  border-radius: 10px;
}
.button-cv:hover{
  border: 3px solid;
  background-color: #000;

}
/* Max width 480px */
@media screen and (max-width: 414px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .locale_button {
    top: 1rem;
  }

  .img-url {
    /* display: none; */
    order: 1;

  }

  .img-url img {
    width: 100px;
    height: 150px;
  }

  .img-url {
    display: flex;
    justify-content: center;
  }

  .content-intro {
    order: 2;
  }

  .connect h3 {
    top: 3rem;
  }

  .intro-container {
    padding: 1rem;
    height: 60vh !important;
    width: 50vw !important;
  }

  .social-list {
    left: 1rem;
  }

  .swiper-card {
    overflow-y: scroll;
  }

  .prortfolio-items {
    overflow-y: scroll;
    padding: 5px;
  }

  .prortfolio-items ul li {
    word-break: normal;
  }

  ul {
    padding-inline-start: 20px;
  }

  .portfolio {
    display: none;
  }

  .about {
    display: none;
  }

  .skills {
    display: none;
  }

  .connect {
    display: none;
  }

  .menu {
    display: block;
  }

  .intro-container {
    overflow-y: scroll;
  }

  html,
  body {
    font-family: 'Pacifico', Marker Felt;
  }
}